<div id="<%= dom_id book %>">
  <p>
    <strong>Mahs 243:</strong>
    <%= book.mahs_243 %>
  </p>

  <p>
    <strong>Hoten 243:</strong>
    <%= book.hoten_243 %>
  </p>

  <p>
    <strong>Lop 243:</strong>
    <%= book.lop_243 %>
  </p>

  <p>
    <strong>Masanh 243:</strong>
    <%= book.masanh_243 %>
  </p>

  <p>
    <strong>Tensach 243:</strong>
    <%= book.tensach_243 %>
  </p>

  <p>
    <strong>Tentacgia 243:</strong>
    <%= book.tentacgia_243 %>
  </p>

  <p>
    <strong>Sobm 243:</strong>
    <%= book.soBM_243 %>
  </p>

  <p>
    <strong>Ngaymuon 243:</strong>
    <%= book.ngaymuon_243 %>
  </p>

  <p>
    <strong>Ngaytra 243:</strong>
    <%= book.ngaytra_243 %>
  </p>

  <p>
    <strong>Ghichu 243:</strong>
    <%= book.ghichu_243 %>
  </p>

</div>
